<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            {{ g.settings['title'] }}
        </title>

        <link rel="stylesheet"
            href="{{ url_for('static', filename='styles/styles.css') }}">

    </head>
    <body>
        <div>
            <img style="margin: auto; width: 13%"
                src="{{ url_for('static', filename='images/boo_berry.jpg') }}">
        </div>
        bxx bxx bxrry
    </body>
</html>