{{ macros.section_header('SKILLS') }}
<p>
    <span class="skill"><b>BROADLY:</b></span><br>
    Data acquisition, cleaning and standardization, machine learning, predictive
    modeling, natural language processing, statistical analysis, Data
    visualization, narrative storytelling
</p>
<p>
    <span class="skill"><b>TECHNICALLY:</b></span><br>
    Python, SQL, AWS, Google Cloud, Azure, Bitbucker, Docker, Twilio
</p>
<p>
    <span class="skill"><b>SPECIFICALLY:</b></span><br>
    Pandas, PyTorch, SpaCy, BERT, Scikit-Learn, HuggingFace, NLTK, Flask,
    FastAPI, Poetry
</p>