{# parts.jinja #}

{% macro skill(e) %}
<p>
<strong>{{ e.skill }}</strong>:<br>
{{ e.description }}
</p>
{% endmacro %}


{% macro responsibilities(e) %}
{% if 'responsibilities' in e %}
    <h4 class="skill">KEY RESPONSIBILITIES:</h4>
    <ul>
        {% for r in e.responsibilities %}
        <li>{{ r | safe }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endmacro %}

{% macro workdate(e) %}
{{ e.date }} to {{ e.end_date if 'end_date' in e else 'present'}}<br>
{% endmacro %}

{% macro pubdate(e) %}
{{ e.date }}<br>
{% endmacro %}

{% macro publication(e)%}
<i>{{ e.publication }}</i><br>
{% endmacro %}

{% macro collaborators(e) %}
{% if 'collaborators' in e %}
    with
    {% set collaborators_ = [] %}
    {% for c in e.collaborators %}
    {% set collab = '<a href="' + c.url + '">' + c.name + '</a>' %}
    {% set _ = collaborators_.append(collab) %}
    {% endfor %}
{% endif %}
{{ collaborators_ | join(", ") | safe }}
{% endmacro %}

{% macro title(e) %}
<h2><a href="{{ e.url }}">{{ e.title }}</a></h2>
{% endmacro %}

{% macro synopsis(e) %}
<p>{{ e.synopsis | safe}}</p>
{% endmacro %}

{% macro organization(e) %}
{% if 'organization' in e %}
    <a href="{{ e.url }}">{{ e.organization | safe }}<br></a>
{% endif %}
{% endmacro %}

{% macro position(e) %}
<h2>{{ e.position }}</a></h2>
{% endmacro %}

{% macro school(e) %}
<h2>{{ e.school }}</a></h2>
{% endmacro %}

{% macro degree(e) %}
{{ e.degree }}
{% endmacro %}

{% macro school_notes(e) %}
<ul>
{% for d in e.school_notes %}
<li>{{ d }}</li>
{% endfor %}
</ul>
{% endmacro %}

{% macro content_header(e) %}
<h3>{{ e.header }}</a></h2>
{% endmacro %}

{% macro media(e) %}
{% for m in e.media %}
{% if e.media_type == "books" %}
- {{ m.by }} - <em>{{ m.title }}</em><br>
{% else %}
- {{ m.by }} - "{{ m.title }}"<br>
{% endif %}
{% endfor %}
{% endmacro %}
