<!doctype html>
<html lang="en">

  {% include 'head.html' %}

  <body>

    <div class="container content">
      <p></p>

      <main>
        <h1>Andrew Friedman</h1>
        <p>
        <em>afriedman412 [at] gmail [dot] com</em><br>
      </p>
        <p>
          <a href="/">Home</a> • <a href="/code">Code</a> • <a href="/data">Data</a> • <a href="/about">About</a>
        </p>
        {% for d in data %}
            {% if "data" in d.tags %}
                <h2><a href="{{ d.url }}">{{ d.title }}</a></h2>
                <p>{{ d.outlet }}</p>
                <p>{{ d.synopsis }}</p>
            {% endif %}
        {% endfor %}
      </main>

    {% include 'footer.html' %}
    </div>
  </body>
</html>