<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>
    Andrew Friedman's Portfolio
    </title>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">

  </head>

  <body>

    <div class="container content">
      <main>
        <h1>Andrew Friedman</h1>
        <p>
          <div class="image-container">
          <a href="http://twitter.com/steadynappin"><img src="{{ url_for('static', filename='images/twitter.svg')}}" style="width: 30px;"></a>
          <a href="http://github.com/afriedman412"><img src="{{ url_for('static', filename='images/github.svg')}}" style="width: 30px;"></a>
          <a href="http://linkedin.com/afriedman412"><img src="{{ url_for('static', filename='images/linkedin.svg')}}" style="width: 30px;"></a>
          </div>
        <p>
          <em>afriedman412 [at] gmail [dot] com</em>
        </p>
          <a href="/">Home</a> • <a href="/work">Work</a> • <a href="/code">Code</a> • <a href="/data">Data Journalism</a> • <a href="/writing">Writing</a> • <a href="/about">About</a>
        </p>