<!doctype html>
<html lang="en">

  {% include 'head.html' %}

  <body>

    <div class="container content">
      <p></p>

      <main>
        <h1>Andrew Friedman</h1>
        <p>
        <em>afriedman412 [at] gmail [dot] com</em><br>
      </p>
        <p>
          <a href="/">Home</a> • <a href="/code">Code</a> • <a href="/data">Data</a> • <a href="/about">About</a>
        </p>
        <p><img src="static/images/bio-photo.jpg" /></p>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
         suck a whole dick!!!!
        </small>
      </footer>
    </div>
  </body>
</html>