  {% include 'head.html' %}

    {% if tag == 'home' %}
        <p><img src="static/images/bio-photo.jpg" /></p>
    {% else %}
        {% if tag == 'writing' %}
            <h1>Selected Writing</h1>
            {% for e in entries %}
                <h2><a href="{{ e.url }}">{{ e.title }}</a></h2>
                <p>
                    <i>{{ e.publication }}</i><br>
                    {{ e.date }}<br>
                    {% if 'collaborators' in e %}
                        with
                        {% for c in e.collaborators %}
                            <a href="{{ c.url }}">{{ c.name }}</a>
                        {% endfor %}
                    {% endif %}
                </p>
                <p>{{ e.synopsis | safe}}</p>
                <p>---</p>
            {% endfor %}
        {% elif tag == 'work' %}
            <h1>Work Experience</h1>
            {% for e in entries %}
                <h2>{{ e.position }}</a></h2>
                <p>
                    <a href="{{ e.url }}">{{ e.organization }}</a><br>
                    {{ e.date }} to {{ e.end_date if 'end_date' in e else 'present'}}<br>
                </p>
                <p>{{ e.synopsis | safe }}</p>
                <p>---</p>
            {% endfor %}
        {% elif tag == 'code' %}
            <h1>Code</h1>
            {% for e in entries %}
                <h2><a href="{{ e.url }}">{{ e.title }}</a></h2>
                <p>
                    {% if 'organization' in e %}
                        {{ e.organization }}<br>
                    {% endif %}
                    {{ e.date }}<br>
                </p>
                <p>{{ e.synopsis | safe }}</p>
                <p>---</p>
            {% endfor %}
        {% endif %}
    {% endif %}
    </main>
    {% include 'footer.html' %}