<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>
        Andrew Friedman's Portfolio
      </title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
      </head>
      <body>
        <div class="container content">
          <main>
            <h1>Andrew Friedman</h1>
            <p>
              <em>afriedman412 [at] gmail [dot] com</em><br>
            </p>
            <p>
              <a href="/">Home</a> • <a href="/work">Work</a> • <a href="/code">Code</a> • <a href="/writing">Writing</a> • <a href="/about">About</a>
            </p>
             <body>
              <footer class="footer">
                <small>
                  footy
                </small>
              </footer>

            </div>
          </body>
        </html>